<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인 기능 구현하기</title>
</head>
<body>
    <button id="join">회원가입</button>
    <button id='login'>로그인</button>
    <button id="logout">로그아웃</button>
    <p><%= text %></p>
    <% if(isLoggedin){ %>
        <p>닉네임 변경</p>
        <form action="/change" method="post">
            <input type="text" name="changenick" id="">
            <input type="submit" id="">
        </form>
    <% } %>
    <script>
        document.getElementById('join').addEventListener('click',()=>{
            location.href = "/auth";
        });
        document.getElementById('login').addEventListener('click',()=>{
            location.href = "/auth";
        });
        document.getElementById('logout').addEventListener('click',()=>{
            location.href = "/auth/logout";
        });
    </script>

</html>